@import "~bulma/sass/utilities/initial-variables";
@import "~buefy/src/scss/utils/_theme-variables";
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

.page-spinner {

  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;

  .spinner {
    left: 50%;
    top: 100px;
  }
}

.navbar-brand {
  
  padding-left: 15px;
  
  .is-brand {
    max-width: 180px;

    .brand-name {
      font-family: 'Bowlby One SC', cursive;
      color: #fff;
      font-size: 31px;
      text-transform: uppercase;
      margin-left: 15px;
    }
  }
}

.movable {
  cursor: move;
}

.navbar.is-primary {
  .dropdown {
    .navbar-item {
      color: $primary-invert;

      &:hover {
        background: darken($primary, 5%);
      }
    }

    &.is-active {
      .navbar-item {
        background: darken($primary, 5%);
      }
    }
  }
}